.Global{
	overflow-y: scroll;
}
 #title{

	font-size: 100px;
	color: white;
	font-family: Impact;
	text-shadow: 3px 3px black;
} 
#top{
	font: 50px Arial;
}


a:link{
	text-decoration: none;
}

.Logo{
	position: fixed;
	 width: 700px;
	 height: 500px;
	 top:55%;
	 left: 50%;
	 margin-top: -50px;
	 margin-left: -400px;
	 text-align: center;
}

.HomeButton{
	border: 4px solid white;
	padding: 7px;
	border-radius: 4px;
	position: fixed;
	top: 50%;
	left: 45%;
	margin-top: -150px;
	margin-left: -450px;
	-webkit-transition-duration: 0.4s;
	font-family: Impact;
	font-size: 50px;
}
.HomeButton:hover{
	background-color: #ff1a1a;
	color: white;
}
.ResumeButton{
	border: 4px solid white;
	padding: 7px;
	border-radius: 4px;
	position: fixed;
	top: 50%;
	left: 54%;
	margin-top: -150px;
	margin-left: -340px;
	-webkit-transition-duration: 0.4s;
	font-family: Impact;
	font-size: 50px;
}
.ResumeButton:hover{
	background-color: #ff1a1a;
	color:white;
}
.AboutMeButton{
	border: 4px solid white;
	padding: 7px;
	border-radius: 4px;
	position: fixed;
	top: 50%;
	right: 45%;
	margin-top: -150px;
	margin-right: -450px;
	-webkit-transition-duration: 0.4s;
	font-family: Impact;
	font-size: 50px;
}
.AboutMeButton:hover{
	background-color: #ff1a1a;
	color:white;
}
.TutorialsButton{
	position: fixed;
	top: 50%;
	right: 55%;
	margin-top: -150px;
	margin-right: -300px;
	border: 3px solid white;
	padding: 7px 7px;
	font-family: Impact;
	font-size:50px;
	-webkit-transition-duration: 0.4s;
	border-radius: 4px;
}
.TutorialsButton:hover{
	background-color: #ff1a1a;
	color:white;
}
body{
	background-image: url("bg.jpg");
   background-size: 100%; 
   background-repeat: no-repeat; 
   background-position: center;
   background-attachment: fixed;       
   webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   html{height:100%, width 100%};
}

.sidebar{
	background: #eee;
	height: 100%;
	width: 30%;
	position:fixed;
	top: 50%;
	left: 30%;
	padding-top: 20px;

}
