body{
	font: 15px Arial;
	padding:0;
    margin:0;
    background-color:#99e6ff;
}
h1{
	font: 80px Arial;
	padding: 250px, 0px, 0px; /*top, right/left, bottom*/
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}
#top{
	font: 50px Arial;
}

a:link{
	text-decoration: none;
}

.navleft{
	color: #bf4040;
	font-size: 20px;
	text-align: left;
	font-family: Arial;
	float: left;
	padding:40px, 20px, 0px, 0px;
	text-transform: uppercase;
}

.navright{
	color: #bf4040;
	font-size: 20px;
	font-family: Arial;
	text-align: right;
	float: right;
	padding:40px, 20px, 0px, 0px;
	text-transform: uppercase;
}
.Logo{
	 width: 700;
	 height: 800;
	 position: relative;
	 left: 550px;
	 margin: auto;
}