 
 #title{

	font-size: 100px;
	color: white;
	font-family: Impact;
	text-shadow: 3px 3px black;
} 
#top{
	font: 50px Arial;
}


a:link{
	text-decoration: none;
}

.Logo{
	position: relative;
	 width: 700px;
	 height: 500px;
	 top:55%;
	 left: 50%;
	 margin-top: 10%;
	 margin-left: -400px;
	 text-align: center;
}

#HomeButton{
	border: 4px solid white;
	padding: 7px;
	border-radius: 4px;
	position: absolute; /*Used absolute cause it is like relative but is  doesnt affect neighbors and isnt affected by neighbors */
	top: 20%;
	left: 54%;
	-webkit-transition-duration: 0.4s;
	font-family: Impact;
	font-size: 50px;

}
#HomeButton:hover{
	background-color: #ff1a1a;
	color: white;
}
#ResumeButton{
	border: 4px solid white;
	padding: 7px;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 54%;
	margin-top: -150px;
	margin-left: -400px;
	-webkit-transition-duration: 0.4s;
	font-family: Impact;
	font-size: 50px;
}
#ResumeButton:hover{
	background-color: #ff1a1a;
	color:white;
}
#AboutMeButton{
	border: 4px solid white;
	padding: 7px;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 54%;
	margin-top: -150px;
	margin-left: 320px;
	-webkit-transition-duration: 0.4s;
	font-family: Impact;
	font-size: 50px;
}
#AboutMeButton:hover{
	background-color: #ff1a1a;
	color:white;
}
#TutorialsButton{
	border: 4px solid white;
	padding: 7px;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 54%;
	margin-top: -150px;
	margin-left: -470px;
	-webkit-transition-duration: 0.4s;
	font-family: Impact;
	font-size: 50px;
}
#TutorialsButton:hover{
	background-color: #ff1a1a;
	color:white;
}
body{
	background-image: url("bg.jpg");
   background-size: 100%; 
   background-repeat: no-repeat; 
   background-position: center;
   background-attachment: fixed;       
   webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   html{height:100%, width 100%};
}


div.sidebar{
	position:absolute;
	top:50%;
	left:30%;
	height: 10%;
	width: 10%;
	padding: 10px;
	background-color: white;
	opacity: 0.6;
	filter: alpha(opacity=60);
}